[submodule "pack/plugins/start/indent-blankline.nvim"]
	path = pack/plugins/start/indent-blankline.nvim
	url = git@github.com:lukas-reineke/indent-blankline.nvim.git
[submodule "pack/plugins/start/onedark.nvim"]
	path = pack/plugins/start/onedark.nvim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "pack/plugins/start/which-key.nvim"]
	path = pack/plugins/start/which-key.nvim
	url = git@github.com:folke/which-key.nvim.git
[submodule "pack/plugins/start/fterm.nvim"]
	path = pack/plugins/start/fterm.nvim
	url = https://github.com/numToStr/FTerm.nvim
